@import url('https://fonts.googleapis.com/css?family=Cutive+Mono');
@import url('https://fonts.googleapis.com/css?family=Over+the+Rainbow');
@import url('https://fonts.googleapis.com/css?family=Nunito');
/* Setting fade transition and default settings */
body {
  color: #000;
  background-color: rgb(228, 224, 238);
  transition: background-color 1s ease;
  font-family: sans-serif;
}
/* panel styles */
.panel {
  /* min height incase content is higher than window height */
  min-height: 20vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  font-family: sans-serif;
  /* outline: 10px solid hotpink; */
  /* turn above on to see the edge of panels */
}

/* colours */
.color-violet {
  background-color: rgb(204, 196, 223);
}
.color-indigo {
  background-color: rgb(182, 172, 209);
}
.color-blue {
  background-color: rgb(164, 149, 195);
}
.color-green {
  background-color: rgb(147, 128, 182);
}
.color-yellow {
  background-color: rgb(131, 110, 170);
}
.color-orange {
  background-color: rgb(118, 093, 160);
}
.color-red {
  background-color: rgb(104, 076, 150);
}

/* styling for demo, can ignore */
body {
  display:none;
  text-align: center;
  font-size: 120%;
  line-height: 1.618;
}
h1{
  font-family: 'Over the Rainbow', cursive;
  font-size: 5em;
  opacity: .7;
}
p {
  max-width: 30em;
  margin-bottom: 1.618em;
}
a {
  color: rgb(104, 076, 150);
  text-decoration: none;
  font-family: 'Cutive Mono', monospace;
}
.mynav{
  display: flex;
  list-style: none;
}
.mynav li{
  padding: 20px;
}
a:hover{
  color: black;
  opacity: .5;
}
.web-dev{
  font-family: 'Cutive Mono', monospace;
  letter-spacing: 5px;
  font-size: 30px;
  opacity: .5;
}
.name{
  letter-spacing: 5px;
}
h2{
  font-size: 50px;
  font-family: 'Cutive Mono', monospace;
}
.heading{
  min-height: 100vh;
}
.yellow-diamond{
  height: 180px;
}
.design{
  background-color: black;
  opacity: .3;
  width: 100%;
  height: 250px;
  color: rgb(204, 196, 223);
  display: flex;
  justify-content: center;
  margin-top: 70px;
  border-radius: 20px;
}
.collaborate{
  font-family: 'Cutive Mono', monospace;
  font-size: 30px;
  align-self: center;
}
.comp-screen{
  height: 270px;
  margin-top: 70px;
}
.code{
  height: 180px;
  margin-top: 70px;
  opacity: .7;
}
.contact-me{
  color: rgb(204, 196, 223);
}
.info{
  list-style: none;
  font-size: 20px;
}
.num{
  padding-top: 10px;
}
.lines{
  color: rgb(204, 196, 223);
  opacity: .5;
}
.each-info{
  color: black;
  opacity: .7;
}
.accomplish{
  font-size: 25px;
  font-family: 'Cutive Mono', monospace;
  opacity: .5;
}
.carrot{
  animation: blink .75s linear infinite;
  opacity: .5;
}
